<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="formulario" (submit)="verDatosFormulario()" >
    <ion-item>
      <ion-input 
        type="email" 
        textLabel="Ingrese su correo"
        formControlName="email"
        fill="outline"
      ></ion-input>
      <br>
      <ion-note>
        Tocado {{ formulario.get("email")?.touched }}
      </ion-note>
      <ion-note>
        No Tocado {{ formulario.get("email")?.untouched }}
      </ion-note>
      <ion-note>
        Sucio {{ formulario.get("email")?.dirty }}
      </ion-note>
      <ion-note>
        Errores {{ formulario.get("email")?.errors | json }}
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-input 
        type="password"
        textLabel="Ingrese su contraseña"
        formControlName="contrasenia"
        fill="outline"
      ></ion-input>
    </ion-item>
    <ion-button 
      type="submit" 
      role="submit" 
    >
      Iniciar Sesión
    </ion-button>
  </form>

</ion-content>
